@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #ED5E4A;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }
}